@model TheBeerGame.Models.GameStatusViewModel


<h2>Your Beer Game</h2>
<table>
    <thead>Retailer</thead>
    <tbody>
        <tr><td>Inventory:</td> <td>@Model.Retailer.Inventory</td></tr>
    </tbody>
</table>
        