@model dynamic

@{
    ViewBag.Title = "The beer game!";
    
}

<h2>The Beer Game, yay!</h2>


<div>
    <input type="button" onclick="location.href='@Url.Action("Create", "Game")' " value="Create a game"   />

</div>